n8n/workflows/w2_content_generator.json
{
  "name": "W2: Content Generator（コンテンツ生成）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook受信",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "w2-content-generator",
      "credentials": {
        "httpHeaderAuth": {
          "id": "webhook-auth",
          "name": "Webhook認証"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 台本データから音声生成用データを準備\nconst scriptData = $input.first().json;\nconst narrations = scriptData.narration || [];\n\nreturn narrations.map((item, index) => ({\n  index: index,\n  text: item.text,\n  image_prompt: item.image_prompt,\n  expected_duration: item.duration\n}));"
      },
      "id": "prepare-narrations",
      "name": "ナレーション準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VOICEVOX_BASE_URL }}/audio_query?text={{ encodeURIComponent($json.text) }}&speaker={{ $env.VOICEVOX_SPEAKER_ID }}",
        "options": {}
      },
      "id": "voicevox-query",
      "name": "VOICEVOX Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VOICEVOX_BASE_URL }}/synthesis?speaker={{ $env.VOICEVOX_SPEAKER_ID }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "voicevox-synthesis",
      "name": "VOICEVOX Synthesis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://black-forest-labs-flux-1-schnell.hf.space/api/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: [$json.image_prompt, 0, true, 1024, 1024, 4] }) }}",
        "options": {}
      },
      "id": "flux-generate",
      "name": "FLUX.1 画像生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// 音声と画像の結果を統合してメタデータJSONを生成\nconst fs = require('fs');\nconst items = $input.all();\nconst timestamp = Date.now();\n\n// 音声メタデータ\nconst audioFiles = [];\nlet totalDuration = 0;\nfor (const item of items) {\n  if (item.json.audio_path) {\n    audioFiles.push({\n      index: item.json.index,\n      filepath: item.json.audio_path,\n      text: item.json.text,\n      duration: item.json.duration || 3.0,\n      image_prompt: item.json.image_prompt || ''\n    });\n    totalDuration += item.json.duration || 3.0;\n  }\n}\n\nconst audioMetadata = {\n  script_title: $input.first().json.title || 'Untitled',\n  total_duration: totalDuration,\n  files: audioFiles\n};\n\n// 画像メタデータ\nconst imageFiles = [];\nfor (const item of items) {\n  if (item.json.image_path) {\n    imageFiles.push({\n      index: item.json.index,\n      filepath: item.json.image_path,\n      prompt: item.json.image_prompt || '',\n      text: item.json.text\n    });\n  }\n}\n\nconst imageMetadata = {\n  script_title: $input.first().json.title || 'Untitled',\n  files: imageFiles\n};\n\n// メタデータをJSONファイルに保存\nconst outputDir = '/home/node/output';\nconst audioMetadataPath = `${outputDir}/audio/voice_${timestamp}_metadata.json`;\nconst imageMetadataPath = `${outputDir}/images/image_${timestamp}_metadata.json`;\n\nfs.mkdirSync(`${outputDir}/audio`, { recursive: true });\nfs.mkdirSync(`${outputDir}/images`, { recursive: true });\nfs.writeFileSync(audioMetadataPath, JSON.stringify(audioMetadata, null, 2));\nfs.writeFileSync(imageMetadataPath, JSON.stringify(imageMetadata, null, 2));\n\nreturn {\n  audio_metadata_path: audioMetadataPath,\n  image_metadata_path: imageMetadataPath,\n  total_duration: totalDuration\n};"
      },
      "id": "merge-results",
      "name": "結果統合",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.W3_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "trigger-w3",
      "name": "W3トリガー",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook受信": {
      "main": [
        [
          {
            "node": "ナレーション準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ナレーション準備": {
      "main": [
        [
          {
            "node": "VOICEVOX Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "FLUX.1 画像生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VOICEVOX Query": {
      "main": [
        [
          {
            "node": "VOICEVOX Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VOICEVOX Synthesis": {
      "main": [
        [
          {
            "node": "結果統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FLUX.1 画像生成": {
      "main": [
        [
          {
            "node": "結果統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "結果統合": {
      "main": [
        [
          {
            "node": "W3トリガー",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Tokyo"
  },
  "tags": ["ai-shorts-factory", "content-generator"],
  "active": false
}
