n8n/workflows/w3_video_composer.json
{
  "name": "W3: Video Composer（動画合成）",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook受信",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "w3-video-composer"
    },
    {
      "parameters": {
        "jsCode": "// 入力パラメータをJSONファイルに書き出し\nconst fs = require('fs');\nconst input = $input.first().json;\n\n// 一意なファイル名を生成\nconst timestamp = Date.now();\nconst inputFile = `/home/node/output/temp/compose_input_${timestamp}.json`;\nconst outputFile = `/home/node/output/videos/video_${timestamp}.mp4`;\n\n// 入力データを整形\nconst params = {\n  audio_metadata_path: input.audio_metadata_path,\n  image_metadata_path: input.image_metadata_path,\n  output_path: outputFile,\n  background_path: input.background_path || null\n};\n\n// tempディレクトリを確保\nconst tempDir = '/home/node/output/temp';\nif (!fs.existsSync(tempDir)) {\n  fs.mkdirSync(tempDir, { recursive: true });\n}\n\n// JSONファイルに書き出し\nfs.writeFileSync(inputFile, JSON.stringify(params, null, 2));\n\nreturn {\n  input_file: inputFile,\n  output_file: outputFile\n};"
      },
      "id": "prepare-input",
      "name": "入力準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "cd /home/node && python3 -m scripts.compose_video --input-json {{ $json.input_file }}"
      },
      "id": "compose-video",
      "name": "動画合成（Python）",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// 合成結果を解析\nconst fs = require('fs');\nconst stdout = $input.first().json.stdout;\nconst stderr = $input.first().json.stderr;\nconst inputFile = $('入力準備').first().json.input_file;\nconst outputFile = $('入力準備').first().json.output_file;\n\n// 警告以外のエラーをチェック\nif (stderr && !stderr.includes('UserWarning') && !stderr.includes('INFO')) {\n  // 致命的なエラーキーワードをチェック\n  if (stderr.includes('Error') || stderr.includes('Exception') || stderr.includes('Traceback')) {\n    throw new Error(`動画合成エラー: ${stderr.substring(0, 500)}`);\n  }\n}\n\n// 一時ファイルを削除\ntry {\n  if (fs.existsSync(inputFile)) {\n    fs.unlinkSync(inputFile);\n  }\n} catch (e) {\n  console.log('一時ファイル削除エラー（無視）:', e.message);\n}\n\n// 出力ファイルの存在確認\nif (!fs.existsSync(outputFile)) {\n  throw new Error(`出力ファイルが見つかりません: ${outputFile}`);\n}\n\nreturn {\n  video_path: outputFile,\n  success: true\n};"
      },
      "id": "parse-result",
      "name": "結果解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "成功確認",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.W4_WORKFLOW_ID }}",
        "options": {}
      },
      "id": "trigger-w4",
      "name": "W4トリガー",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "errorMessage": "動画合成に失敗しました"
      },
      "id": "error-handler",
      "name": "エラー処理",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook受信": {
      "main": [
        [
          {
            "node": "入力準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "入力準備": {
      "main": [
        [
          {
            "node": "動画合成（Python）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "動画合成（Python）": {
      "main": [
        [
          {
            "node": "結果解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "結果解析": {
      "main": [
        [
          {
            "node": "成功確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功確認": {
      "main": [
        [
          {
            "node": "W4トリガー",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "エラー処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Tokyo"
  },
  "tags": ["ai-shorts-factory", "video-composer"],
  "active": false
}
